<% if @task.errors.present? %>
  <ul>
    <% @task.errors.each do |error, message| %>
      <li> <%= "#{message}" %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_for @task do |f| %>
    <%= f.label :title, t("tasks.title") %>
    <%= f.text_field :title %>
    <%= f.label :content, t("tasks.content") %>
    <%= f.text_area :content %>
    <%= f.label :deadline, t("tasks.deadline") %>
    <%= f.datetime_select :deadline %>
    <%= f.label :priority, t("common.priority") %>
    <%= f.select :priority, options_for_select(Task.select_options_by_priority) %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to t("common.back_index"), tasks_path %>
