<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <table class="table table-hover text-center">
          <tr>
            <th scope="col"><%= t("common.title") %></th>
            <th scope="col"><%= sort_link(@q, :deadline, t("tasks.deadline"), default_order: :asc) %></th>
            <th scope="col"><%= t("common.status") %></th>
            <th scope="col"><%= sort_link(@q, :priority, t("common.priority"), default_order: :desc) %></th>
            <th scope="col"><%= t("common.edit") %></th>
            <th scope="col"><%= t("common.destroy") %></th>
            <th scope="col"><%= t("common.task") %></th>
          </tr>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.title, task_path(task) %></td>
              <td><%= task.deadline %></td>
              <td><%= task.localized_status %></td>
              <td><%= task.localized_priority %></td>
              <td><%= link_to t("common.edit"), edit_task_path(task) %></td>
              <td><%= link_to t("common.destroy"), task_path(task), method: :delete, data:{ confirm: t("common.messages.destroy") } %></td>
              <td><%= pick_task_status(task) %></td>
            </tr>
          <% end %>
        </table>
        <div class="text-center">
          <%= link_to t("common.new"), new_task_path, class: "btn btn-outline-success" %>
        </div>
        <nav class="container">
          <%= paginate @tasks %>
        </nav>
      </div>
    </div>
  </div>
</div>
