<h1><%= t("tasks.titles") %></h1>

<table>
  <tr>
    <th><%= t("common.title") %></th>
    <th><%= t("common.show") %></th>
    <th><%= t("common.edit") %></th>
    <th><%= t("common.destroy") %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= link_to t("common.show"), task_path(task) %></td>
      <td><%= link_to t("common.edit"), edit_task_path(task) %></td>
      <td><%= link_to t("common.destroy"), task_path(task), method: :delete, data:{ confirm: t("common.messages.destroy") } %></td>
    </tr>
  <% end %>
</table>

<div><%= link_to t("common.new"), new_task_path %></div>
