<h1><%= t("tasks.titles") %></h1>

<%= search_form_for @q do |f| %>
  <%= f.label t("common.title") %>
  <%= f.search_field :title_cont %>
  <%= f.label t("common.status") %>
  <%= f.select :status_eq , options_for_select(Task.statuses.map{|k,v| [I18n.t("tasks.status.#{k}"), v] }), :include_blank => true %>
  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th><%= t("common.title") %></th>
    <th><%= link_to t("tasks.deadline"), deadline_order %></th>
    <th><%= t("common.status") %></th>
    <th><%= t("common.show") %></th>
    <th><%= t("common.edit") %></th>
    <th><%= t("common.destroy") %></th>
    <th><%= t("common.task") %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.deadline %></td>
      <td><%= task.localized_status %></td>
      <td><%= link_to t("common.show"), task_path(task) %></td>
      <td><%= link_to t("common.edit"), edit_task_path(task) %></td>
      <td><%= link_to t("common.destroy"), task_path(task), method: :delete, data:{ confirm: t("common.messages.destroy") } %></td>
      <td><%= pick_task_status(task) %></td>
    </tr>
  <% end %>
</table>

<div><%= link_to t("common.new"), new_task_path %></div>
