<main role="main">
  <div class="container-fluid">
    <section class="jumbotron text-center">
      <div class="container">
        <h4><%= t("tasks.titles") %></h4>
        <div class="btn btn-light">
          <%= sort_link(@q, :deadline, t("tasks.deadline"), default_order: :asc) %>
          <small class="text-muted"><%= t("tasks.order") %></small>
          <%= sort_link(@q, :priority, t("common.priority"), default_order: :desc) %>
        </div>
      </div>
    </section>
    <div class="container-fluid">
      <div class="row">
        <% @tasks.each do |task| %>
          <div class="col-lg-3 col-md-6">
            <div class="card-deck">
              <div class="card border-success mb-3 task-item">
                <div class="card-body text-success">
                  <h5 class="card-title"><%= link_to task.title, task_path(task) %></h5>
                  <p class="card-text"><%= t("common.status") %>: <%= task.localized_status %> <%= t("common.priority") %>: <%= task.localized_priority %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to t("common.edit"), edit_task_path(task), class: "btn btn-outline-secondary" %>
                      <%= link_to t("common.destroy"), task_path(task), method: :delete, data:{ confirm: t("common.messages.destroy") }, class: "btn btn-outline-secondary" %>
                      <%= pick_task_status(task) %>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= t("tasks.deadline") %>: <%= task.deadline %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= link_to t("tasks.new"), new_task_path, class: "btn btn-outline-success" %>
    </div>
    <br>
    <div class="container pagination justify-content-center" >
      <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</main>
