<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <div class="p-4"></div>
        <div class="card text-center">
          <h3 class="card-header"><%= @user.name %></h3>
          <div class="card-body">
            <h5 class="card-title"><%= @user.email %></h5>
            <p class="card-text"><%= @user.localized_role %></p>
            <footer class="blockquote-footer"><%= t("users.tasks_count") %>: <%= @user.tasks_count %></footer>
          </div>
        </div>
        <table class="table table-hover text-center">
          <tr>
            <th scope="col"><%= t("common.title") %></th>
            <th scope="col"><%= sort_link(@q, :deadline, t("tasks.deadline"), default_order: :asc) %></th>
            <th scope="col"><%= t("common.status") %></th>
            <th scope="col"><%= sort_link(@q, :priority, t("common.priority"), default_order: :desc) %></th>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.deadline %></td>
              <td><%= task.localized_status %></td>
              <td><%= task.localized_priority %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <div class="container pagination justify-content-center" >
          <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    </div>
  </div>
</div>
